# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      env:
        appid: ${{ secrets.APPID }}
        appkey: ${{ secrets.APPKEY }}
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      env:
        appid: ${{ secrets.APPID }}
        appkey: ${{ secrets.APPKEY }}
      run: go build -v ./...

    - name: Test
      env:
        appid: ${{ secrets.APPID }}
        appkey: ${{ secrets.APPKEY }}
      run: go test -v ./...
